<section ng-controller="HomeController">
  

  <div class="container">
    <h1 class="center-align header"> git Fit <img href="" style="width: 50px" src="https://image.freepik.com/free-icon/gym-dumbbell-black-silhouette_318-50983.png"></h1>
    <h3 class="center-align header teal-text text-lighten-2">Choose Your Workout Program</h3>
    <div class="row">
      <div class="col s12 m8 l4 offset-m2">
        <div class="card hoverable small">
          <div class="card-image">
            <a ui-sref="setup({type: 0})"><img style="height: 150px" src="http://pictogram-free.com/material/164.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Strength Building<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Strength Building<i class="material-icons right">close</i></span>
            <p>Select strength building to get a workout plan that focuses on building muscle. This type of workout will have less cardio, and more strengthening exercises.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m8 l4 offset-m2">
        <div class="card hoverable small">
          <div class="card-image">
            <a ui-sref="setup({type: 1})"><img href="" style="height: 150px" src="https://image.freepik.com/free-icon/man-running-on-treadmill-machine_318-62358.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Weight Loss<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Weight Loss<i class="material-icons right">close</i></span>
            <p>Select weight loss to get a workout plan that involves more cardio, to maximize calories burned!</p>
          </div>
        </div>
      </div>
      <div class="col s12 m8 l4 offset-m2">
        <div class="card hoverable small">
          <div class="card-image">
            <a ui-sref="setup({type: 2})"><img href="" src="http://www.adaicon.com/sites/default/files/articles/201601/14374-fit-4-life-bfr-membership-available-month.png"></a>
          </div>
          <div class="card-content">
            <span class="card-title activator teal-text text-lighten-2">Balanced<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Balanced<i class="material-icons right">close</i></span>
            <p>Choose balanced in order to have a workout plan that combines both cardio and weight lifting.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <!-- workoutsetup -->
  <!--
  <div class="container">
    <h3 class="center-align header teal-text text-lighten-2">Workout Setup</h3>

    <h4 class="header teal-text text-lighten-2">Experience Level</h4>
    <form action="#">
    <p>
      <input name="group1" type="radio" id="beginner" />
      <label for="beginner">Beginner</label>
      <input name="group1" type="radio" id="intermediate" />
      <label for="intermediate">Intermediate</label>
      <input name="group1" type="radio" id="exper"  />
      <label for="exper">Expert</label>
    </p>

    <br>

    <h4 class="header teal-text text-lighten-2">Number of Days Per Week</h4>
    <div class="row">
    <div class="input-field col s12 m6">
      <select>
        <option value="1">1 Day</option>
        <option value="2">2 Days</option>
        <option value="3">3 Days</option>
        <option value="4">4 Days</option>
        <option value="5">5 Days</option>
      </select>
    </div>
        </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Continue</button>

    </form>
  </div>
-->
 

  <!-- workoutprogram -->

  
<!--
  <div class="container">
    <div class="row">
      <h3 class="center-align header teal-text text-lighten-2">Workout Program Name</h3>
      <div class="col s12 m6 card-panel hoverable">
        <p>
          Day <span>1</span>
          <h5 class="header teal-text text-lighten-2">Upper Body</h5>
        </p>
      </div>
    </div>
  </div>
-->
  

  <!-- workout -->
<!--   <div class="container">
    <div class="row">
      <h3 class="header center-align teal-text text-lighten-2">
        Day <span>1</span>
        <br>
        Upper Body
      </h3>

      <div class="col s12 m6 card-panel hoverable">
        <h5 class="header">Exercise <span>1</span></h5>
        <h5 class="header">Sets: <span>3</span></h5>
        <h5 class="header">Reps: <span>10</span></h5>
      </div>
  </div> -->

  <!-- exercise -->

</section>