<section ng-controller="WorkoutSetupController">
  <div class="container">
    <h3 class="center-align header teal-text text-lighten-2">Workout Setup</h3>

    <h4 class="header teal-text text-lighten-2">Experience Level</h4>
    <form action="#">
    <p>
      <input name="group1" type="radio" id="beginner" />
      <label for="beginner">Beginner</label>
      <input name="group1" type="radio" id="intermediate" />
      <label for="intermediate">Intermediate</label>
      <input name="group1" type="radio" id="exper"  />
      <label for="exper">Expert</label>
    </p>

    <br>

    <h4 class="header teal-text text-lighten-2">Number of Days Per Week</h4>
    <div class="row">
    <div class="input-field col s12 m6">
      <select ng-model="noDays">
        <option value="1">1 Day</option>
        <option value="2">2 Days</option>
        <option value="3">3 Days</option>
        <option value="4">4 Days</option>
        <option value="5">5 Days</option>
      </select>
    </div>
    </div>

    <button class="btn waves-effect waves-light" name="action" ng-click="generateWorkout()">Continue</button>

    </form>
  </div>
</section>