<section ng-controller="WorkoutSetupController">
  <div class="container">
      <div class="row">
        <h3 class="header center-align teal-text text-lighten-2">
          Day <span>1</span>
          <br>
          Upper Body
        </h3>

        <div class="col s12 m6 card-panel hoverable">
          <h5 class="header">Exercise <span>1</span></h5>
          <h5 class="header">Sets: <span>3</span></h5>
          <h5 class="header">Reps: <span>10</span></h5>
        </div>
    </div>
</section>