<section ng-controller="WorkoutProgramController">
  <div class="container">
    <div class="row">
      <h3 class="center-align header text-lighten-2">Workout Program Name</h3>
      <ul> 
        <li ng-click="goToWorkoutDay($index)" ng-repeat="i in repeats.slice(0,repeatCount) track by $index">      
          <div ng-init="days" ui-sref="workout" class="col s10 offset-s1 m4 offset-m1 card-panel hoverable">
        <p> Day <span>{{$index}}</span> </p>
        </li>
      </ul>
      </div>
    </div>
  </div>
</section> 
  