<section>
  <div class="page-header">
    <h1>Workouts</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="workout in vm.workouts"
       data-ui-sref="workouts.view({ workoutId: workout._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="workout.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="workout.user" data-ng-bind="workout.user.displayName"></span>
        <span data-ng-if="!workout.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="workout.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.workouts.$resolved && !vm.workouts.length">
    No Workouts yet, why don't you <a data-ui-sref="workouts.create">create one</a>?
  </div>
</section>
